/* fonts */

@font-face {
  font-family: "tobias-regular";
  src: url("./fonts/Tobias-Regular.otf") format("opentype");
}

@font-face {
  font-family: "swall-diatype";
  src: url("./fonts/SwallStudiosDiatype-Regular.otf") format("opentype");
}

button {
  /* cursor: url("./assets/watch-cursor.png"), pointer; */

  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
  padding: 0%;
  width: fit-content;
  font-family: "swall-diatype";
}

img {
  width: 100%;
}

/* insert repetitve variables like font sizes and colors 
so if we need to fix them we can fix across the board
instead of tweaking each class */
:root {
  --medium-text-size: 1.3vw;
  --blue: #431cec;
}
.blue {
  color: var(--blue);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: sticky;
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  /* margin-top: 0.5%; */
  top: 0;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  font-family: "swall-diatype";
}

.navbar-left {
  display: flex;
  width: 20%;
  justify-content: center;
}

.navbar-right {
  display: flex;
  width: 20%;
  justify-content: center;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-items: center;
}

.navbar-image {
  width: 35%;
  margin: auto;
}

.navbar-link {
  margin: 0 15px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}

.dimepiece-logo {
  color: var(--blue);
}

/* Featured Story / Top of Homepage Section */

.featured-story {
  display: flex;
  flex-direction: row-reverse;
  height: calc(100vh - 54px);
  margin-bottom: 7%;
}
.featured-story-img {
  width: 50%;
}

.featured-story-blurb-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featured-story-blurb-container-inside {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.featured-story-preview-title {
  font-size: 5.2em;
  line-height: 100%;
  font-family: swall-dialtype;
  font-weight: normal;
  margin: 0;
}

.featured-story-preview-description {
  margin: 0;
  font-size: var(--medium-text-size);
}

.read-story-btn {
  font-size: 1.2em;
}

.section-title-home {
  margin: auto;
  font-family: "swall-diatype";
  text-align: center;
  font-size: 1.4rem;
}

/* Latest Stories Section */

.latest-stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  row-gap: 3em;
  margin: 2% auto 7%;
}
.latest-story-card {
  width: 24%;
}
.latest-story-card-top {
  width: 100%;
}
.latest-story-card-bottom {
  display: flex;
  gap: 0.8rem;
}
.latest-story-card-bottom-left {
  display: flex;
  flex-direction: column;
  font: "swall-diatype";
  font-size: 0.5rem;
  width: 20%;
}
.latest-story-card-bottom-left > p {
  margin-top: 0.3rem;
}
.latest-story-card-bottom-left > p:last-of-type {
  margin-top: 0rem;
}
.latest-story-card-date {
}
.latest-story-card-bottom-right {
  font-family: "tobias-regular";
  display: flex;
  flex-direction: column;
}
.latest-story-card-title {
  margin: 0;
  font-size: 1.8rem;
  line-height: 110%;
}
.most-discussed {
  width: 30%;
}
.most-discussed-card {
  width: 100%;
}
.most-discussed-preview {
  font-size: 0.9rem;
  font-family: "swall-diatype";
  line-height: 110%;
}
.most-discussed-preview-button {
  font-size: 0.9rem;
}
/* Latest Watches Section */

.latest-watches {
  text-align: center;
  margin-bottom: 7%;
}

.watch-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
}
.watch-preview-card {
  width: 20%;
  text-align: center;
  font-family: "swall-diatype";
  margin-top: 3%;
}

.watch-preview-card-details > p {
  font-size: 0.8rem;
  line-height: 125%;
  margin: 0%;
}

/* brynns pick */

.featured-watch {
  margin-bottom: 7%;
}

.featured-watch-headline {
  text-align: center;
  font-size: 2.5em;
  font-family: "tobias-regular";
  width: 40%;
  margin: 2% auto 2%;
}

.featured-watch-content-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  width: 65%;
  margin: auto;
}

.featured-watch-description {
  width: 30%;
  font-family: "swall-diatype";
  font-size: 0.75em;
}

.featured-watch-description > p {
  margin-top: 0%;
}

.featured-watch-image {
  width: 50%;
  margin: auto 5%;
}

.featured-watch-details {
  width: 30%;
  font-family: "swall-diatype";
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.75em;
}

.featured-watch-detail-container > h5,
.featured-watch-detail-container > p {
  margin: 0%;
  width: 50%;
  line-height: 120%;
}

/* bottom homepage section */

.three-column-homepage-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
}
.three-column-homepage-container .section-title-home {
  margin-bottom: 7%;
}
/* dial dimepieces */
.dial-dimepiece {
  width: 25%;
}
.dial-dimepiece-cards-container {
  width: 100%;
}
.dial-dimepiece-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 7%;
}
.dial-dimepiece-card-left {
  width: 50%;
}

.dial-dimepiece-card-right {
  width: 50%;
  font-size: 0.75rem;
  font-family: "tobias-regular";
}
.dial-dimepiece-card-date {
  font-family: "swall-diatype";
  margin: 0;
}
.dial-dimepiece-card-headers > p {
  margin: 0;
  border-bottom: 1px solid black;
  padding: 0.7rem 0;
}
.dial-dimepiece-card-headers > p:last-of-type {
  border: none;
}

/* brynns basics */
.brynns-basics {
  width: 25%;
}
.brynns-basics-cards-container,
.brynns-basics-card {
  width: 100%;
}
.brynns-basics-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}
.brynns-basics-card-right,
.brynns-basics-card-left {
  width: 50%;
}
.brynns-basics-card-description {
  font-size: 0.75rem;
}

.brynns-basics-card-right-details > p {
  font-size: 0.85rem;
  margin: 1%;
}

.brynns-basics-card-button {
  font-size: 0.75rem;
}

/* newsletter */
.newsletter {
  text-align: center;
  margin: 0 auto 7%;
  width: 30%;
  font-size: 1.4rem;
}
.newsletter > p {
  margin: 5% auto;
}
.newsletter-input-container {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin: 12% auto;
  display: flex;
  justify-content: space-around;
}
.newsletter-input-container > input {
  width: 80%;
  border: none;
  font-size: 1.4rem;
}
.newsletter-input-container > input::placeholder {
  color: black;
}
.newsletter-input-container > button {
  font-size: 1.4rem;
}

/* FOOTER */

.footer {
  background-color: #d7ceff;
  font-size: 12px;
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
}
.footer-left-container {
  display: flex;
  gap: 4rem;
  width: 50%;
  font-family: "swall-diatype";
}
.footer-left-container > div > p,
.footer-left-container > div > div > p {
  margin: 0;
}
.footer-links {
  width: 10%;
}
.footer-left-column {
  width: 25%;
}
.footer > div > button {
  text-decoration: none;
}
