/* fonts */

@font-face {
  font-family: 'tobias-regular';
  src: url('./fonts/Tobias-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'swall-diatype';
  src: url('./fonts/SwallStudiosDiatype-Regular.otf') format('opentype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: sticky;
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  margin-top: 0.5%;
  top: 0.5%;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  font-family: 'swall-diatype';
}

.navbar-left {
  display: flex;
  margin-left: 2%;
}

.navbar-right {
  display: flex;
  margin-right: 2%;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-items: center;
}

.navbar-image {
  width: 35%;
  margin: auto;
}

.navbar-link {
  margin: 0 15px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}

.dimepiece-logo {
  color: blue;
}

.featured-story {
  display: flex;
  height: 100vh;
}

.featured-story-blurb-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featured-story-preview-title {
  font-size: xx-large;
}
