/* fonts */

@font-face {
  font-family: "tobias-regular";
  src: url("./fonts/Tobias-Regular.otf") format("opentype");
}

@font-face {
  font-family: "swall-diatype";
  src: url("./fonts/SwallStudiosDiatype-Regular.otf") format("opentype");
}
a {
  color: var(--blue);
  text-decoration: none;
}
button {
  /* cursor: url("./assets/watch-cursor.png"), pointer; */

  cursor: pointer;
  background: none;
  color: black;
  border: none;
  text-decoration: underline;
  padding: 0%;
  width: fit-content;
  font-family: "swall-diatype";
}

img {
  width: 100%;
}

/* insert repetitve variables like font sizes and colors 
so if we need to fix them we can fix across the board
instead of tweaking each class */
:root {
  --medium-text-size: 1.3vw;
  --base-text-size: 0.75rem;
  --blue: #431cec;
}
.blue {
  color: var(--blue);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100vw;
}
.navbar-container {
  width: 100%;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.navbar {
  height: 54px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "swall-diatype";
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left {
  justify-content: flex-start;
  width: 40%;
  gap: 4%;
}

.navbar-right {
  justify-content: flex-end;
  width: 40%;
  gap: 4%;
}

/* .navbar-left:nth-child(2),
.navbar-right:nth-child(2) {
  margin: auto 2%;
} */

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.navbar-image {
  width: clamp(100px, 10%, 100px);
  cursor: pointer;
}

.navbar-link {
  margin: 0;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  display: block;
}
.dimepiece-logo {
  color: var(--blue);
}
.search {
  position: absolute;
  width: 100%;
  background-color: #d7ceff;
  color: var(--blue);
  box-sizing: border-box;
}
.search-container {
  width: 95%;
  margin: auto;
  background-color: #d7ceff;
  color: var(--blue);
  padding-block-end: 1.5rem;
  padding-block-start: 1rem;
}
.search-input-container {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-input-container > input {
  background-color: #d7ceff;
  color: var(--blue);
  caret-color: var(--blue);
  border: none;
  outline: none;
  font-size: 3rem;
  padding: 0;
  width: 95%;
}
.search-input-container > button {
  margin: 0;
  font-size: 3rem;
  color: var(--blue);
  text-decoration: none;
}
.suggestions-container {
  width: 33%;
}
.suggestion-title {
  text-decoration: underline;
}
.suggestion-arrow-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
}
.suggestion {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.suggestion-arrow-container > p {
  margin: 0;
}
/* Featured Story / Top of Homepage Section */

.featured-story {
  display: flex;
  flex-direction: row-reverse;
  min-height: calc(100vh - 54px);
  margin-bottom: 7%;
  /* min-height: 100vh; */
  height: calc(100vh - 54px);
}
.featured-story-img {
  width: 50%;
  object-fit: cover;
  cursor: pointer;
}

.featured-story-blurb-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featured-story-blurb-container-inside {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.featured-story-preview-title {
  font-size: clamp(2.2em, 6.93vw, 5.2em);
  line-height: 100%;
  font-family: "tobias-regular";
  font-weight: normal;
  margin: 0;
}

.featured-story-preview-description {
  margin: 0;
  font-size: var(--medium-text-size);
  line-height: 125%;
}

.read-story-btn {
  font-size: 1.2em;
}

.section-title-home {
  margin: auto;
  font-family: "swall-diatype";
  text-align: center;
  font-size: 1.4rem;
}

/* Latest Stories Homepage Section */

.latest-stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  row-gap: 3em;
  margin: 2% auto 7%;
}
.latest-story-card {
  width: 24%;
  cursor: pointer;
}
.latest-story-card-date {
  font-family: "swall-diatype";
}
.latest-story-card-top {
  width: 100%;
  margin-bottom: 5%;
}
.latest-story-card-top > img {
  object-fit: cover;
  aspect-ratio: 2/3;
}
.latest-story-card-bottom {
  display: flex;
  gap: 0.8rem;
}
.latest-story-card-bottom-left {
  display: flex;
  flex-direction: column;
  font: "swall-diatype";
  font-size: clamp(4px, 0.67vw, 0.5rem);
  width: 10%;
  letter-spacing: 10%;
}
.latest-story-card-bottom-left > p {
  margin-top: 0.3rem;
}
.latest-story-card-bottom-left > p:last-of-type {
  margin-top: 0rem;
}
.latest-story-card-date {
}
.latest-story-card-bottom-right {
  font-family: "tobias-regular";
  display: flex;
  flex-direction: column;
  width: 100%;
}
.latest-story-card-title {
  margin: 0;
  font-size: clamp(16px, 2vw, 1.8rem);
  line-height: 110%;
}
.most-discussed {
  width: 30%;
}
.most-discussed-card {
  width: 100%;
  cursor: pointer;
}
.most-discussed-preview {
  font-size: 0.9rem;
  font-family: "swall-diatype";
  line-height: 110%;
}
.most-discussed-preview-button {
  font-size: 0.9rem;
}
/* Latest Watches Section */

.latest-watches {
  text-align: center;
  margin-bottom: 7%;
}

.watch-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
  row-gap: 1rem;
}
.watch-preview-card {
  width: 20%;
  text-align: center;
  font-family: "swall-diatype";
  margin-top: 3%;
  cursor: pointer;
}

.watch-preview-card-details > p {
  font-size: var(--base-text-size);
  line-height: 125%;
  margin: 0%;
}

/* brynns pick */

.featured-watch {
  margin-bottom: 7%;
}

.featured-watch-headline {
  text-align: center;
  font-size: clamp(24px, 3.33vw, 2.5em);
  font-family: "tobias-regular";
  width: 40%;
  margin: 2% auto 2%;
}

.featured-watch-content-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  width: 65%;
  margin: auto;
}

.featured-watch-description {
  width: 30%;
  font-family: "swall-diatype";
  font-size: var(--base-text-size);
}

.featured-watch-description > p {
  margin-top: 0%;
}

.featured-watch-image {
  width: 50%;
  margin: auto 5%;
  cursor: pointer;
}

.featured-watch-details {
  width: 30%;
  font-family: "swall-diatype";
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: var(--base-text-size);
}

.featured-watch-detail-container > h5,
.featured-watch-detail-container > p {
  margin: 0%;
  width: 50%;
  line-height: 120%;
}

/* bottom homepage section */

.three-column-homepage-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
}
.three-column-homepage-container .section-title-home {
  margin-bottom: 7%;
}
/* dial dimepieces */
.dial-dimepiece {
  width: 25%;
}
.dial-dimepiece-cards-container {
  width: 100%;
}
.dial-dimepiece-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 7%;
  cursor: pointer;
}
.dial-dimepiece-card-left {
  width: 50%;
}

.dial-dimepiece-card-right {
  width: 50%;
  font-size: var(--base-text-size);
  font-family: "tobias-regular";
}
.dial-dimepiece-card-date {
  font-family: "swall-diatype";
  margin: 0;
}
.dial-dimepiece-card-headers > p {
  margin: 0;
  border-bottom: 1px solid black;
  padding: 0.7rem 0;
}
.dial-dimepiece-card-headers > p:last-of-type {
  border: none;
}

/* brynns basics */
.brynns-basics {
  width: 25%;
}
.brynns-basics-cards-container,
.brynns-basics-card {
  width: 100%;
}
.brynns-basics-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}
.brynns-basics-card-right,
.brynns-basics-card-left {
  width: 50%;
}
.brynns-basics-card-left > img {
  cursor: pointer;
}
.brynns-basics-card-description {
  font-size: var(--base-text-size);
}

.brynns-basics-card-right-details > p {
  font-size: var(--base-text-size);
  margin: 1%;
}

.brynns-basics-card-button {
  font-size: var(--base-text-size);
}

/* newsletter */
.newsletter {
  text-align: center;
  margin: 0 auto 7%;
  width: 30%;
  font-size: 1.4rem;
}
.newsletter > p {
  margin: 5% auto;
}
.newsletter-input-container {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin: 12% auto;
  display: flex;
  justify-content: space-around;
}
.newsletter-input-container > input {
  width: 80%;
  border: none;
  font-size: 1.4rem;
  outline: none;
}
.newsletter-input-container > input::placeholder {
  color: black;
}
.newsletter-input-container > button {
  font-size: 1.4rem;
}
/* latest stories page */
.stories-page {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  min-height: 100vh;
  margin-bottom: 5%;
  position: relative;
}
.stories-page .latest-story-card {
  width: 32.46%;
}
.stories-page-index {
  width: 100%;
  height: fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: 18%;
  font-family: "swall-diatype";
}

.stories-page-index-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20%;
  font-size: var(--base-text-size);
}
.stories-page-index-list > ol {
  padding: 0;
  list-style-position: inside;
  margin-bottom: 0%;
  font-family: "tobias-regular";
  margin-top: 0;
}
.index-link {
  margin: 0;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  line-height: 130%;
  font-family: "swall-diatype";
}
.index-link:first-of-type {
  margin-top: 3%;
}
.stories-page-index-category-header {
  margin: auto 0% 3%;
}
.stories-page-index-list > ol {
  list-style-position: outside;
  padding-left: 20px;
}
.stories-page-index-list > ol > li {
  margin-bottom: 10%;
  margin-top: 5%;
  line-height: 125%;
  cursor: pointer;
}
.stories-page-index-brynns-pick {
  line-height: 125%;
  cursor: pointer;
  margin-top: 3%;
}
.stories-page-content {
  width: 100%;
}
.stories-page-content > p {
  width: 50%;
  text-align: center;
  font-family: "swall-diatype";
  line-height: 130%;
  margin: 2% auto 2%;
  font-size: var(--base-text-size);
}
.stories-page-card-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.3%;
  row-gap: 3em;
  margin: auto;
  width: 90%;
}
.stories-page .latest-story-card-title {
  font-size: 1.5em;
}

/* article */
.article {
  text-align: center;
  padding: 2%;
  min-height: 100vh;
}
.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  width: 100%;
  z-index: -1;
  background: #d7ceff;
  transform-origin: 0%;
}
.author-photog-container > p:first-of-type {
  margin-bottom: 0;
}
.author-photog-container > p:last-of-type {
  margin-top: 0;
}
.article > p:first-of-type {
  font-family: "tobias-regular";
  font-size: 6rem;
  width: 75%;
  margin: auto;
}
.article-cover-img {
  width: 50%;
  margin: auto;
}
.article-sanity-content > p {
  width: 50%;
  margin: 2% auto;
  text-align: left;
  font-family: "swall-diatype";
}
.article-images-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.article-button-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  align-items: center;
}
/* WATCHES PAGE */
.watch-modifier {
  width: 100%;
}
.watches-page-card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  margin: auto;
  width: 100%;
  justify-content: center;
}
/* watch prooduct page */
.product-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.product-images-container {
  width: 60%;
  overflow: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
.product-images-container::-webkit-scrollbar {
  width: 0px;
}
.product-images-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.product-image {
  margin-bottom: 4%;
}
.product-image:last-of-type {
  margin: 0;
}
.product-description-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  padding-left: 1%;
  padding-right: 1%;
  overflow: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
.product-description-container::-webkit-scrollbar {
  width: 0px;
}
.product-description-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.watch-description-table {
  outline: 1px solid black;
}
.watch-description-table-row {
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}
.watch-description-table-row:last-of-type {
  border-bottom: none;
}
.product-description-container .watch-preview-card-details > p {
  font-size: var(--base-text-size);
  font-family: "swall-diatype";
}
.watch-description-table-row > p {
  font-family: "swall-diatype";
  margin: 0%;
}
.watch-description-table-row-key {
  font-size: 0.5rem;
  /* padding-left: 1%; */
}
.watch-description-table-row-value {
  margin: 0;
  width: 40%;
  font-size: var(--base-text-size);
  text-align: right;
  /* padding-right: 1%; */
  line-height: 120%;
}
.watch-description-buttons-container > button {
  width: 100%;
  padding: 2%;
  border: 1px solid black;
  /* background: transparent; */
  text-decoration: none;
  font-size: var(--base-text-size);
}
.watch-description-buttons-container > button:last-of-type {
  background: black;
  color: white;
  margin-top: 1.5%;
}
.watch-description-summary {
  font-size: var(--base-text-size);
  font-family: "swall-diatype";
}
/* Newsletter page */
.newsletter-page {
  margin-top: 3%;
  min-height: 68vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-page .newsletter {
  width: 40%;
}
/* misc */
.misc-page {
  min-height: 92vh;
  width: 50%;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  margin-bottom: 5%;
}

/* ABOUT PAGE */
.about-page {
  width: 100%;
  min-height: 100vh;
}
.about-page-container {
  width: 50%;
  margin: auto;
}

.about-header-title,
.about-header-title-full {
  text-align: center;
  font-size: clamp(24px, 3.33vw, 2.5em);
  font-family: "tobias-regular";
  margin-bottom: 15%;
}

.about-header-title-full .article-images-container > img {
  width: 100% !important;
}
.about-header-title .article-images-container > img {
  width: 49% !important;
}

.about-brynn-portrait {
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15%;
}

.about-brynn-portrait-title {
  text-align: center;
  font-size: clamp(24px, 3.33vw, 2.5em);
  font-family: "tobias-regular";
}

.about-brynn-portrait > p {
  margin-top: 0%;
}

.about-brynn-portrait img {
  width: 50%;
  margin-right: 2.5%;
}

.about-brynn-portrait .portable-text-container {
  width: 50%;
  margin: 0;
  padding: 0;
}
.carousel-container {
  position: relative;
  /* display: flex; */
  /* justify-content: space-between; */
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  min-height: 100px;
  margin-bottom: 5%;
}
.gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1)
  );
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.slider {
  width: fit-content;
  display: flex;
  gap: 5rem;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}
.slider > img {
  max-width: 10%;
  object-fit: contain;
}
.about-dimepiece-press {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2%;
  width: 100%;
  font-size: 1rem;
  font-family: "swall-diatype";
}

.about-dimepiece-press:last-of-type {
  margin-bottom: 15%;
}

.about-dimepiece-press-title {
  font-size: 1.5rem;
  font-family: "tobias-regular";
}

.about-dimepiece-press img {
  width: 60%;
  height: 100%;
  margin-right: 2%;
  object-fit: cover;
  aspect-ratio: 2/1.3;
}

.about-dimepiece-press div {
  width: 40%;
  height: 100%;
}

.about-dimepiece-press > p {
  margin-top: 0%;
}

.about-dimepiece-press .blue {
  margin-top: 0%;
}

.about-say-hello {
  text-align: center;
  line-height: 20%;
  font-size: 1.5rem;
  font-family: "swall-diatype";
  margin-bottom: 5%;
}

/* Cart */
.cart-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(77, 77, 77, 0.777);
  z-index: 11;
}
.cart-pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35vw;
  border: 1px solid black;
  background: white;
  z-index: 12;
  transform-origin: 100%;
  font-family: "swall-diatype";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid grey;
  /* padding: 1vw; */
  box-sizing: border-box;
}
.close-cart-btn {
  text-decoration: none;
  margin-right: 4%;
}
.cart-pop-up h2 {
  margin-left: 4%;
  font-weight: normal;
  font-size: 1.1rem;
  font-family: "swall-diatype";
}
.cart-product-cards-hold {
  height: 77vh;
  overflow: auto;
}
.cart-product-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-top: 5%;
  padding-bottom: 3%; */
  height: 100%;
}
.cart-product-card-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  /* height: 77vh; */
  overflow: auto;
  border: solid 1px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  font-size: var(--base-text-size);
}
.cart-product-cards-container > div:first-of-type {
  margin-top: 4%;
}
.cart-product-cards-container > div:last-of-type {
  padding-bottom: 6%;
}
.cart-product-card-img-container {
  width: 30%;
  display: flex;
  align-items: center;
}
.cart-product-card-img-container > img {
  width: 100%;
  border-right: solid 1px;
}
.cart-product-title-container {
  width: 55%;
  margin-top: 2%;
  margin-left: 3%;
}
.cart-product-brand-title > p {
  margin: 0;
  font-family: "swall-diatype";
}
.cart-price-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-top: 2%;
}
.cart-price-container > p {
  margin: 0;
}
.cart-footer {
  border-top: 1px solid grey;
  font-weight: bold;
  font-family: "swall-diatype";
}
.cart-subtotal-container {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  padding-bottom: 0.5vw;
  box-sizing: border-box;
}
.cart-pop-up .watch-description-buttons-container {
  padding: 1vw;
  padding-top: 0.5vw;
  box-sizing: border-box;
}
.cart-pop-up .watch-description-buttons-container > button {
  margin: 0;
}
/* FOOTER */

.footer {
  background-color: #d7ceff;
  font-size: var(--base-text-size);
  padding: 2% 2.5%;
  display: flex;
  justify-content: space-between;
}
.footer-left-container {
  display: flex;
  width: 50%;
  font-family: "swall-diatype";
}
.footer-right-container > button {
  display: flex;
  gap: 0.5rem;
}
.footer-right-container > button > p {
  white-space: nowrap;
}
.footer-left-container > div > p,
.footer-left-container > div > div > p {
  margin: 0;
}
.footer-links {
  width: fit-content;
  margin: 0 6%;
}
.footer-left-column {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.footer > div > button {
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  :root {
    --base-text-size: 10px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  /* styles */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* styles */
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* styles */
}

@media (min-width: 1441px) {
  /* styles */
}

@keyframes scroll {
  to {
    transform: translate(calc(-100% - 3.5rem));
  }
}
